page-contact {

    .no-scroll .scroll-content{
        overflow: hidden;
    }
    
    ion-content {
        background-color: #FFFFFF !important; 
        margin: 0px !important; 
        padding: 0px !important;
    }

    .address-card ion-card-title {
        margin-left: 12px !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    .email-card ion-card-title {
        padding: 0 !important;
        margin: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .email-card ion-item {
        padding-left: 5px !important;
        margin-bottom: 10px;
        
        ion-input {
            font-size: 1.4rem !important;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            border: 0.55px solid #c8c7cc !important;
        }
        ion-textarea {
            font-size: 1.4rem !important;
            border: 0.55px solid #c8c7cc !important;
            height: 100px;
            display: flex;
        }
    
    }

    .email-card ion-label {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 1.4rem;
        width: 100px !important;
    }

    .email-card button.button-round {
        display: flex;
        margin: 0 auto !important;
        height: 35px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3)
    }
    
    

}
