page-sign-up-select {
    
    ion-card {
        position: relative;
        text-align: center;
        img {
            background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
            z-index: 10;
            
        }
      }

      #overlay {
        position: relative;
        height: 100%;
        width: 100%;
        z-index: 99999;
        background-color: rgba(0,0,0,0.5); /*dim the background*/
      }
    
      .card-title {
        position: absolute;
        top: 47%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
    
      .card-subtitle {
          
        font-size: 1.0em;
        position: absolute;
        top: 40%;
        width: 100%;
        color: #fff;
      }
    
    

    
}
