page-menu {
    
    ion-menu ion-content {
        background-color: #F38335 !important;
    }

    ion-menu .item {
        background-color: #F38335 !important;
        color: white;
        border-color: white !important;
    }

    



}